@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif !important;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.editBtn,
.delBtn {
  background: #6c757d !important;
  color: white;
}

.delBtn {
  background-color: #dc3545 !important;
}

.mr-1 {
  margin-right: 5px !important;
}